*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    gap: 2  0px;
}
nav a{
    text-decoration: none;
    color: rgba(190, 32, 0, 0.8);
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 20px;
    
}
.img{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.img img{
    width: 500;
    height: 300px;
   
    
   
}
.form{
    justify-content: center;
    margin-top: 20px;
    background-color: cornsilk;
}